@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto&display=swap');

:root{
  --sidebar-button-color: #4dc6fd;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}
.side-bar{
    background-color: var(--sidebar-button-color);
    color: #fff;
    display: grid;
    grid-template-rows: 10% 35% 20%;
}
.logo{
  display: flex;
  align-items: center;
}
.logo-title{
  font-size: 20px;
}
.nav{
  padding:20px;
  display: grid;
  gap: 10px;
}
.nav li{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-content{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 20% 80%;
}
.header{
    border: 1px solid black;
}
.main{
    border: 1px solid black;
}

svg{
  fill: white;
  width: 20px;
  height: 20px;
}